body,
h1 {
  margin: 0;
  font-size: 0;
}
a {
  text-decoration: none;
  color: #666;
}
dl,
dd {
  margin: 0;
}
input {
  outline: none;
  padding: 0;
  border: none;
}
textarea {
  border: none;
}
.clear_fix {
  content: '';
  display: block;
  clear: both;
}
#header {
  border-bottom: 1px solid #ccc;
  background-color: #eeeeee;
}
#header .head_main {
  width: 1000px;
  margin: 0 auto;
}
#header .head_main:after {
  content: '';
  display: block;
  clear: both;
}
#header .head_main .head_tit {
  float: left;
  font: 16px/99px 'Microsoft Yahei';
  margin-left: 163px;
  color: #666666;
}
#header .head_main .head_nav {
  float: right;
}
#header .head_main .head_nav > a {
  font: 16px/99px 'Microsoft Yahei';
  padding: 0 20px;
  border-right: 1px solid #000;
}
#header .head_main .head_nav > a.last_link {
  border-right: none;
}
#main {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #d6d6d6;
}
.list {
  color: #666666;
  padding-top: 24px;
  padding-left: 100px;
}
.list:after {
  content: '';
  display: block;
  clear: both;
}
.list .list_left {
  float: left;
  display: inline-block;
  width: 95px;
  font: 16px 'Microsoft Yahei';
  line-height: 38px;
  text-align: right;
  margin-right: 30px;
}
.list .list_left > span {
  display: block;
  line-height: 16px;
  text-align: center;
  color: #ff2f2f;
}
.list .list_right {
  float: left;
  font: 16px 'Microsoft Yahei';
  text-align: left;
}
.list .list_right label {
  display: inline-block;
  font: 14px 'Microsoft Yahei';
  line-height: 38px;
  margin-right: 65px;
}
.list .list_right label > input {
  margin-right: 10px;
}
.list .list_right > textarea {
  width: 712px;
  font: 14px 'Microsoft Yahei';
  padding: 15px;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  outline: none;
  resize: none;
  overflow: auto;
}
.list .list_right .list_upload {
  display: inline-block;
  width: 118px;
  height: 30px;
  font: 14px 'Microsoft Yahei';
  line-height: 28px;
  text-align: center;
  border: 1px solid #aee3f0;
  border-radius: 4px;
  margin-right: 40px;
  color: #fff;
  background-color: #7cb0db;
  box-sizing: border-box;
  cursor: pointer;
}
.list .list_right .upload_txt {
  color: #ccc;
}
.list .list_right input[type="text"] {
  width: 712px;
  height: 38px;
  font: 16px/38px 'Microsoft Yahei';
  padding-left: 15px;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
}
.list .list_right .feedBack {
  margin-left: 125px;
}
.list_three .list_right {
  position: relative;
  width: 500px;
}
.list_three .list_right form {
  display: inline-block;
}
.list_three .list_right input[type="file"] {
  position: absolute;
  left: 50px;
  top: 11px;
  width: 276px;
  height: 36px;
  overflow: hidden;
  opacity: 0;
}
.list_three .list_right input[type="text"] {
  width: 280px;
  border: none;
  background-color: transparent;
}
.list_three .list_right,
.list_five .list_right,
.list_six .list_right {
  line-height: 38px;
}
.list_six {
  padding-bottom: 24px;
}
#footer {
  border-top: 1px solid #ccc;
  background-color: #eeeeee;
}
#foot_main {
  width: 1000px;
  padding: 30px 0 24px 0;
  margin: 0 auto;
  box-sizing: border-box;
}
#foot_main .foot_nav {
  width: 304px;
  margin: 0 auto;
}
#foot_main .foot_nav > a {
  font: 12px/32px 'Microsoft Yahei';
  padding: 0 14px;
  color: #999999;
}
#foot_main .foot_address {
  width: 215px;
  margin: 0 auto;
}
#foot_main .foot_address > span {
  display: inline-block;
  font: 12px/32px 'Microsoft Yahei';
  padding: 0 5px;
  color: #999999;
}
@media screen and (min-width: 2000px) {
  #header .head_main .head_tit,
  #header .head_main .head_nav > a {
    font: 16px/99px 'Microsoft Yahei';
  }
  .list {
    padding-top: 40px;
    padding-left: 80px;
  }
  .list .list_right > textarea {
    height: 300px;
  }
  #foot_main {
    padding: 30px 0 25px 0;
  }
  #foot_main .foot_nav > a,
  #foot_main .foot_address > span {
    font: 12px/32px 'Microsoft Yahei';
  }
}
@media screen and (max-width: 1770px) {
  #header .head_main .head_tit,
  #header .head_main .head_nav > a {
    font: 16px/70px 'Microsoft Yahei';
  }
  #foot_main .foot_nav > a,
  #foot_main .foot_address > span {
    font: 12px/22px 'Microsoft Yahei';
  }
}
@media screen and (max-width: 1660px) {
  #header .head_main .head_tit,
  #header .head_main .head_nav > a {
    font: 16px/70px 'Microsoft Yahei';
  }
  .list {
    padding-top: 16px;
  }
  #foot_main {
    padding: 15px 0 10px 0;
  }
  #foot_main .foot_nav > a,
  #foot_main .foot_address > span {
    font: 12px/22px 'Microsoft Yahei';
  }
}
@media screen and (max-width: 1440px) {
  #header .head_main .head_tit,
  #header .head_main .head_nav > a {
    font: 16px/80px 'Microsoft Yahei';
  }
  .list {
    padding-top: 15px;
    padding-left: 70px;
  }
  #foot_main {
    padding: 20px 0 15px 0;
  }
  #foot_main .foot_nav > a,
  #foot_main .foot_address > span {
    font: 12px/26px 'Microsoft Yahei';
  }
}
@media screen and (max-width: 1380px) {
  #header .head_main .head_tit,
  #header .head_main .head_nav > a {
    font: 16px/50px 'Microsoft Yahei';
  }
  .list {
    padding-top: 7px;
    padding-left: 70px;
  }
  .list .list_right > textarea {
    height: 150px;
  }
  #foot_main {
    padding: 10px 0 8px 0;
  }
  #foot_main .foot_nav > a,
  #foot_main .foot_address > span {
    font: 12px/18px 'Microsoft Yahei';
  }
}
@media screen and (max-width: 1280px) {
  #header .head_main .head_tit,
  #header .head_main .head_nav > a {
    font: 16px/70px 'Microsoft Yahei';
  }
  .list {
    padding-top: 25px;
    padding-left: 70px;
  }
  .list .list_right > textarea {
    height: 200px;
  }
  #foot_main {
    padding: 10px 0 5px 0;
  }
  #foot_main .foot_nav > a,
  #foot_main .foot_address > span {
    font: 12px/28px 'Microsoft Yahei';
  }
}
@media screen and (max-width: 1024px) {
  #main {
    width: 930px;
  }
  #header .head_main .head_tit,
  #header .head_main .head_nav > a {
    font: 16px/70px 'Microsoft Yahei';
  }
  .list {
    padding-top: 4px;
    padding-left: 40px;
  }
  .list .list_right > textarea {
    height: 180px;
  }
  #foot_main {
    padding: 10px 0 5px 0;
  }
  #foot_main .foot_nav > a,
  #foot_main .foot_address > span {
    font: 12px/20px 'Microsoft Yahei';
  }
}
