/* 左侧导航 start */
body {
  color: #666;
}
.caret {
  border-top-width: 8px;
  border-right-width: 6px;
  border-left-width: 6px;
}
.td_public {
  text-align: center;
  line-height: 40px;
  border-right: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.main .rightCon .tit {
  height: 45px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 30px;
}
.main .rightCon .tit ul li a {
  display: block;
  width: 100px;
  height: 45px;
  line-height: 45px;
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  color: #666666;
  text-align: center;
  font-size: 16px;
}
.main .rightCon .tit ul li a:hover {
  border-top: 3px solid #3bafe5;
  border-bottom: none;
  background-color: #ffffff;
}
.main .rightCon .tit ul .active a {
  border-top: 3px solid #3bafe5;
  border-bottom: none;
  background-color: #ffffff;
  cursor: default;
}
.main .rightCon .tit ul .first a {
  border-right: none;
}
.main .rightCon .tit .time {
  margin: 0 9% 0 0;
  width: 40%;
}
.main .rightCon .tit .time .timeDetails a {
  display: block;
  height: 45px;
  line-height: 33px;
  color: #2290d6;
  padding-right: 20px;
}
.main .rightCon .tit .time .timeDetails a.active {
  color: #666666;
}
.main .rightCon .tit .time .timeDetails a.break {
  width: 20px;
  background: url(../img/break.png) no-repeat center 6px;
}
.main .rightCon .exhibition {
  width: 97%;
  margin-bottom: 35px;
}
.main .rightCon .exhibition ul {
  width: 100%;
}
.main .rightCon .exhibition ul li {
  width: 25%;
}
.main .rightCon .exhibition ul li dl {
  width: 92%;
  border: 1px solid #ccc;
}
.main .rightCon .exhibition ul li dl dt {
  width: 24%;
  height: 240px;
}
.main .rightCon .exhibition ul li dl dd {
  width: 76%;
  height: auto;
  font: 14px 'Microsoft Yahei';
  padding: 10px 10px 5px 90px;
  box-sizing: border-box;
  position: relative;
}
.main .rightCon .exhibition ul li dl dd h4 {
  line-height: 20px;
  font-weight: normal;
  font-size: 16px;
}
.main .rightCon .exhibition ul li dl dd span {
  display: inline-block;
  line-height: 20px;
  color: #005ce7;
}
.main .rightCon .exhibition ul li dl dd a {
  color: #666;
}
.main .rightCon .exhibition ul li dl dd a i.detail_icon:after {
  content: '\e611';
  font: 14px 'iconfont';
  margin-right: 5px;
  color: #666;
}
.main .rightCon .exhibition ul li dl dd a:hover i:after,
.main .rightCon .exhibition ul li dl dd a:hover {
  color: #f96;
}
.main .rightCon .exhibition ul .upload dt {
  background: #38a3d5 url(../img/upload.png) no-repeat center center;
}
.main .rightCon .exhibition ul .upload dt:hover {
  background-color: rgba(56, 163, 213, 0.8);
}
.main .rightCon .exhibition ul .transformation dt {
  background: #2ec5b9 url(../img/transformation.png) no-repeat center center;
}
.main .rightCon .exhibition ul .transformation dt:hover {
  background-color: rgba(46, 197, 185, 0.8);
}
.main .rightCon .exhibition ul .uploadFTP dt {
  background: #e68b4e url(../img/uploadFTP.png) no-repeat center center;
}
.main .rightCon .exhibition ul .uploadFTP dt:hover {
  background-color: rgba(230, 139, 78, 0.8);
}
.main .rightCon .exhibition ul .download dt {
  background: #3cbd60 url(../img/download.png) no-repeat center center;
}
.main .rightCon .exhibition ul .download dt:hover {
  background-color: rgba(60, 189, 96, 0.8);
}
.main .rightCon .exhibition ul .stock dt {
  background: #9846d7 url(../img/stock.png) no-repeat center center;
}
.main .rightCon .exhibition ul .stock dt:hover {
  background-color: rgba(152, 70, 215, 0.8);
}
.main .rightCon .exhibition ul .bookDownloadTotal dt {
  background: #e44b84 url(../img/issueDownload.png) no-repeat center center;
}
.main .rightCon .exhibition ul .bookDownloadTotal dt:hover {
  background-color: rgba(228, 75, 132, 0.8);
}
.main .rightCon .exhibition ul .salesUploadTotal dt {
  background: #3cbd60 url(../img/download.png) no-repeat center center;
}
.main .rightCon .exhibition ul .salesUploadTotal dt:hover {
  background-color: rgba(60, 189, 96, 0.8);
}
.main .rightCon .exhibition ul .stockUploadTotal dt {
  background: #9846d7 url(../img/stock.png) no-repeat center center;
}
.main .rightCon .exhibition ul .stockUploadTotal dt:hover {
  background-color: rgba(152, 70, 215, 0.8);
}
.main .rightCon h3 {
  width: 95.5%;
  height: 44px;
}
.main .rightCon h3 dl dt {
  width: 15%;
}
.main .rightCon h3 dl dt span {
  display: block;
  line-height: 44px;
  font-weight: normal;
  color: #666666;
}
.main .rightCon h3 dl dt .lineBg {
  width: 4px;
  height: 18px;
  background-color: #3ba3e5;
  margin: 13px 13px 13px 10px;
}
.main .rightCon h3 dl dd {
  width: 85%;
}
.main .rightCon h3 dl dd ul li {
  width: 25%;
}
.main .rightCon h3 dl dd ul li span {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.main .rightCon h3 dl dd ul li .upload {
  color: #38a3d5;
}
.main .rightCon h3 dl dd ul li span.transformation {
  color: #2ec5b9;
}
.main .rightCon h3 dl dd ul li span.uploadFTP {
  color: #e68b4e;
}
.main .rightCon h3 dl dd ul li span.download {
  color: #3cbd60;
}
.main .rightCon h3 dl dd ul li span.stock {
  color: #9846d7;
}
.main .rightCon .chart {
  width: 95.5%;
  height: 280px;
}
.main .rightCon h3 dd .btn-group {
  height: 44px;
  width: 220px;
  margin-right: 80px;
}
.main .rightCon h3 dd .btn-group a.dropdown-toggle {
  display: block;
  margin-right: 80px;
  height: 28px;
  line-height: 28px;
  width: 220px;
  border: 1px solid #cccccc;
  text-align: center;
  background-color: #ffffff;
  margin-top: 6px;
}
.main .rightCon h3 dd .btn-group a.dropdown-toggle span {
  color: #666666;
  font-size: 14px;
}
.main .rightCon h3 dd .btn-group .dropdown-menu li a {
  width: 220px;
  text-align: center;
  color: #666666;
}
.main .rightCon .man {
  margin: 20px 0 0 60px;
}
.main .rightCon .man li .tu {
  width: 150px;
  height: 150px;
  line-height: 200px;
  margin-right: 110px;
  background: url(../img/semiCircle.png) no-repeat center center;
  text-align: center;
}
.main .rightCon .man li span {
  display: block;
  width: 150px;
  height: 42px;
  text-align: center;
}
.main .rightCon .data_total {
  width: 96%;
  border-top: 1px solid #bdbdbd;
  border-left: 1px solid #bdbddb;
  border-collapse: inherit;
}
.main .rightCon .data_total thead > tr > th {
  font-size: 14px;
}
.main .rightCon .data_total thead > tr > th,
.main .rightCon .data_total thead > tr > td {
  text-align: center;
  line-height: 40px;
  border-right: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.main .rightCon .data_total thead > tr > td.total_bg {
  background-color: #f5f5f5;
}
.main .rightCon .data_total tbody > tr > td.total_bg {
  background-color: #f5f5f5;
}
.main .rightCon .data_total tbody > tr:hover {
  background-color: #f5f5f5;
}
.main .rightCon .data_total tbody > tr.No_updates > td {
  font-weight: bold;
  color: #c33232;
}
.main .rightCon .data_total tbody > tr > td {
  text-align: center;
  line-height: 40px;
  border-right: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.main .rightCon .data_total tbody > tr > td a.view_icon:after {
  content: '\e612';
  font: 22px iconfont;
  color: #666;
}
.main .rightCon .data_total tbody > tr > td a.view_icon:hover::after {
  color: #f96;
}
.dropdown-menu {
  overflow: hidden;
}
@media screen and (max-width: 2000px) {
  .main .rightCon .exhibition ul li dl dd {
    padding: 10px 10px 10px 40px;
  }
}
@media screen and (max-width: 1800px) {
  .main .rightCon .exhibition ul li dl dd {
    padding: 10px 10px 10px 50px;
  }
  .main .rightCon .tit .time {
    margin: 0 9% 0 0;
    width: 42%;
  }
}
@media screen and (max-width: 1600px) {
  .main .rightCon .tit {
    margin-bottom: 25px;
  }
  .main .rightCon .tit .time {
    width: 48%;
  }
  .main .rightCon .exhibition {
    margin-bottom: 30px;
  }
  .main .rightCon .exhibition ul li dl dd {
    padding: 10px 10px 10px 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .main .rightCon .exhibition ul li dl dd p {
    bottom: 3px;
    font-size: 12px;
  }
  .pop .close {
    right: 28px\9;
    top: 34px\9;
  }
  .pop .ok {
    right: 55px\9;
    bottom: 28px\9;
  }
}
@media screen and (max-width: 1440px) {
  .main .rightCon .exhibition ul li dl dd {
    padding: 10px 9px 10px 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .main .rightCon .exhibition ul li dl dd p {
    bottom: 2px;
    font-size: 12px;
  }
  .main .rightCon .exhibition ul li dl dd h4 {
    line-height: 20px;
  }
  .main .rightCon .exhibition ul li dl dd p .middle {
    padding: 0;
  }
  .main .rightCon .tit .time {
    margin: 0 5% 0 0;
    width: 53%;
  }
  .main .rightCon h3 dl dt span {
    font-size: 14px;
    font-size: 12px\9;
  }
  .main .rightCon h3 dl dt .lineBg {
    margin: 13px 7px 13px 8px;
    display: none\9;
  }
  .main .rightCon h3 dl dt {
    width: 11%;
  }
  .main .rightCon h3 dl dd {
    width: 89%;
  }
  .main .rightCon h3:last-of-type dl dt {
    width: 15%;
  }
  .main .rightCon h3:last-of-type dl dd {
    width: 85%;
  }
  .main .rightCon h3 dd .btn-group {
    margin-right: 50px;
  }
}
@media screen and (max-width: 1366px) {
  .main .rightCon .tit {
    margin-bottom: 20px;
  }
  .main .rightCon .exhibition {
    margin-bottom: 25px;
  }
  .main .rightCon .exhibition {
    width: 100%;
  }
  .main .rightCon .exhibition ul {
    width: 100%;
  }
  .main .rightCon .exhibition ul li {
    width: 25%;
  }
  .main .rightCon .exhibition ul li dl {
    width: 92%;
  }
  .main .rightCon .exhibition ul li dl dt {
    width: 20%;
    height: 186px;
  }
  .main .rightCon .exhibition ul li dl dd {
    width: 80%;
    padding: 6px 10px 5px 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .main .rightCon .exhibition ul li dl dd h4 {
    line-height: 20px;
  }
  .main .rightCon .exhibition ul li dl dd p {
    font-size: 12px;
    bottom: 0;
  }
  .main .rightCon .chart {
    height: 250px;
  }
  .main .rightCon h3 {
    width: 100%;
  }
  .main .rightCon h3 dl dt {
    width: 12%;
  }
  .main .rightCon h3:last-of-type dl dt {
    width: 15%;
  }
  .main .rightCon h3 dl dd {
    width: 88%;
  }
  .main .rightCon h3:last-of-type dl dd {
    width: 85%;
  }
  .main .rightCon h3 dl dt span {
    font-size: 14px;
  }
  .main .rightCon .man {
    margin: 20px 0 0 40px;
  }
  .main .rightCon .man li .tu {
    margin-right: 60px;
  }
  .main .rightCon h3 dl dt span {
    font-size: 12px\9;
  }
  .main .rightCon h3 dl dt .lineBg {
    display: none\9;
  }
  .pop .close {
    right: 84px;
    top: 110px;
    right: 27px\9;
    top: 34px\9;
  }
  .pop .ok {
    right: 97px;
    bottom: 104px;
    right: 55px\9;
    bottom: 28px\9;
  }
}
@media screen and (max-width: 1280px) {
  .main .rightCon .tit ul li a {
    width: 70px;
    height: 40px;
    font-size: 13px;
  }
  .main .rightCon .tit {
    height: 40px;
    margin-bottom: 20px;
  }
  .main .rightCon .exhibition {
    margin-bottom: 5px;
  }
  .main .rightCon .exhibition ul li {
    margin-bottom: 15px;
  }
  .main .rightCon .exhibition ul li dl {
    width: 90%;
  }
  .main .rightCon .exhibition ul li dl dt {
    height: 186px;
  }
  .main .rightCon .exhibition ul li dl dd {
    padding: 6px 10px 5px 25px;
  }
  .main .rightCon .exhibition ul li dl dd p {
    bottom: 0;
  }
  .main .rightCon .tit .time .chaJian span {
    height: 28px;
    line-height: 28px;
  }
  .main .rightCon .exhibition ul li dl dd h4 {
    line-height: 19px;
  }
  .main .rightCon h3 dl dt .lineBg {
    width: 3px;
    height: 16px;
    margin: 7px 10px 12px 7px;
  }
  .main .rightCon h3 dl dt span {
    font-size: 12px\9;
  }
  .main .rightCon h3 dl dt .lineBg {
    display: none\9;
  }
  .main .rightCon h3 dl dt span {
    line-height: 30px;
  }
  .main .rightCon h3 dl dd ul {
    padding-top: 2px;
  }
  .main .rightCon h3 dl dd ul li {
    line-height: 22px;
  }
  .main .rightCon .chart {
    height: 200px;
  }
  .main .rightCon h3:last-of-type {
    height: 44px;
  }
  .main .rightCon h3:last-of-type dl dt .lineBg {
    margin: 13px 10px 13px 7px;
  }
  .main .rightCon h3:last-of-type dl dt span {
    line-height: 44px;
  }
  .main .rightCon h3 dd .btn-group {
    margin-right: 30px;
  }
  .main .rightCon h3 dd .btn-group a.dropdown-toggle {
    margin-top: 7px;
  }
  .main .rightCon .issueH3 {
    height: 44px;
  }
  .main .rightCon .issueH3 dl dt .lineBg {
    margin: 13px 10px 13px 7px;
  }
  .main .rightCon .issueH3 dl dt span {
    line-height: 44px;
  }
  .main .rightCon .issueH3 dl dd ul li {
    line-height: 34px;
  }
  .main .rightCon h3:last-of-type dl dt {
    width: 20%;
  }
  .main .rightCon h3:last-of-type dl dd {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .main .rightCon .tit .time {
    margin: 0 5% 0 0;
    width: 65%;
  }
  .main .rightCon .exhibition ul li {
    width: 24%;
    margin-bottom: 15px;
  }
  /* 
    .main .rightCon .exhibition ul li dl dt{
        height: 215px;
    } */
  .main .rightCon .exhibition ul li dl dd {
    padding: 6px 10px 5px 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .main .rightCon .exhibition ul li dl dd > h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .main .rightCon .exhibition ul li dl dd p {
    bottom: 3px;
  }
  .main .rightCon .tit .time .chaJian span {
    height: 28px;
    line-height: 28px;
  }
  .main .rightCon h3 {
    height: 35px;
  }
  .main .rightCon h3 dl dt {
    width: 20%;
  }
  .main .rightCon h3 dl dd {
    width: 80%;
  }
  /* 
    .main .rightCon .exhibition ul dt,.main .rightCon .exhibition ul dd{
        height: 50px!important;
    } */
  .main .rightCon h3 dl dt .lineBg {
    width: 3px;
    height: 16px;
    margin: 7px 10px 12px 7px;
  }
  .main .rightCon h3 dl dt span {
    line-height: 30px;
  }
  .main .rightCon h3 dl dt span {
    font-size: 12px\9;
  }
  .main .rightCon h3 dl dt .lineBg {
    display: none\9;
  }
  .main .rightCon h3 dl dd ul {
    padding-top: 2px;
  }
  .main .rightCon h3 dl dd ul li {
    width: 33%;
    line-height: 22px;
  }
  .main .rightCon .chart {
    height: 200px;
  }
  .main .rightCon h3:last-of-type {
    height: 44px;
  }
  .main .rightCon h3:last-of-type dl dt .lineBg {
    margin: 13px 10px 13px 7px;
  }
  .main .rightCon h3:last-of-type dl dt span {
    line-height: 44px;
  }
  .main .rightCon h3 dd .btn-group {
    margin-right: 30px;
  }
  .main .rightCon h3 dd .btn-group a.dropdown-toggle {
    margin-top: 7px;
  }
}
